<dx-data-grid
  [keyExpr]="options.keyExpr"
  [focusedRowEnabled]="options.focusedRowEnabled || !!options.keyExpr"
  [focusedRowIndex]="options.focusedRowIndex || defaultOptions.focusedRowIndex"
  [autoNavigateToFocusedRow]="options.autoNavigateToFocusedRow || !!options.keyExpr"
  [dataSource]="dataSource"
  [showColumnLines]="options.showColumnLines ?? defaultOptions.showColumnLines"
  [showRowLines]="options.showRowLines ?? defaultOptions.showRowLines"
  [showBorders]="options.showBorders ?? defaultOptions.showBorders"
  [rowAlternationEnabled]="options.rowAlternationEnabled ?? defaultOptions.rowAlternationEnabled"
  [allowColumnResizing]="options.allowColumnResizing ?? defaultOptions.allowColumnResizing"
  [allowColumnReordering]="options.allowColumnReordering ?? defaultOptions.allowColumnReordering"
  [columnResizingMode]="options.columnResizingMode ?? defaultOptions.columnResizingMode"
  [repaintChangesOnly]="options.repaintChangesOnly ?? defaultOptions.repaintChangesOnly"
  [remoteOperations]="options.remoteOperations || defaultOptions.remoteOperations"
  [width]="options.width ?? defaultOptions.width"
  [height]="options.height ?? defaultOptions.height"
  (onToolbarPreparing)="options.onToolbarPreparing? options.onToolbarPreparing($event) : defaultOptions.onToolbarPreparing($event) "
  (onEditorPreparing)="options.onEditorPreparing? options.onEditorPreparing($event) : defaultOptions.onEditorPreparing($event)"
  (onCellPrepared)="options.onCellPrepared? options.onCellPrepared($event) : defaultOptions.onCellPrepared($event)"
>

<ng-container *ngFor="let column of columns">
  <dxi-column
    [name]="column.name"
    [dataField]="column.dataField"
    [caption]="column.caption"
    [dataType]="column.dataType"
    [alignment]="column.alignment"
    [cssClass]="column.cssClass"
    [width]="column.width || 'auto'"
    [allowSorting]="column.allowSorting ?? false"
    [editCellTemplate]="column.cellTemplate"
    [showEditorAlways]="column.cellTemplate"
    (sortOrderChange)="column.sortOrderChange? column.sortOrderChange($event) : defaultEvent($event)"
    [calculateDisplayValue]="column?.calculateDisplayValue"
    ><dxi-validation-rule *ngIf="column.validationRule?.required"
      type="required"
      [trim]="column?.validationRule?.required?.trim ?? columnsDefaultOptions.requiredRule.trim">
    </dxi-validation-rule>
    <dxi-validation-rule *ngIf="column.validationRule?.stringLength"
      type="stringLength"
      [ignoreEmptyValue] = "column?.validationRule?.stringLength?.ignoreEmptyValue ?? columnsDefaultOptions.stringLengthRule.ignoreEmptyValue"
      [message] = "column?.validationRule?.stringLength?.message ?? columnsDefaultOptions.stringLengthRule.message"
      [trim] = "column?.validationRule?.stringLength?.trim ?? columnsDefaultOptions.stringLengthRule.trim"
      [min]="column.validationRule?.stringLength?.min ?? columnsDefaultOptions.stringLengthRule.min"
      [max]="column.validationRule?.stringLength?.max ?? columnsDefaultOptions.stringLengthRule.max"
    ></dxi-validation-rule
    ><dxi-validation-rule *ngIf="column.validationRule?.asyncRule"
      type="async"
      [ignoreEmptyValue]="column.validationRule?.asyncRule?.ignoreEmptyValue ?? columnsDefaultOptions.asyncRule.ignoreEmptyValue"
      [validationCallback]="column.validationRule?.asyncRule?.validationCallback || columnsDefaultOptions.asyncRule.validationCallback"
      [message]="column.validationRule?.asyncRule?.message ?? columnsDefaultOptions.asyncRule.message"
      [reevaluate]="column.validationRule?.asyncRule?.reevaluate ?? columnsDefaultOptions.asyncRule.reevaluate"
    >
    </dxi-validation-rule>
  </dxi-column>
  <div *dxTemplate="let cell of column.cellTemplate">
    <app-renderer-component [cell]="cell" [column]="column"></app-renderer-component>
  </div>
</ng-container>

  <dxo-sorting [mode]="options.sorting?.mode ?? defaultOptions.sorting.mode"></dxo-sorting>
  <dxo-paging [enabled]="options.paging?.enabled ?? defaultOptions.paging.enabled"
  [pageIndex]="options.paging?.pageIndex ?? defaultOptions.paging.pageIndex"
  [pageSize]="options.paging?.pageSize ?? defaultOptions.paging.pageSize"
  ></dxo-paging>
  <dxo-keyboard-navigation
  [editOnKeyPress]="options.keyboardNavigation?.editOnKeyPress || defaultOptions.keyboardNavigation.editOnKeyPress"
  [enabled]="options.keyboardNavigation?.enabled ?? defaultOptions.keyboardNavigation.enabled"
  [enterKeyAction]="options.keyboardNavigation?.enterKeyAction ?? defaultOptions.keyboardNavigation.enterKeyAction"
  [enterKeyDirection]="options.keyboardNavigation?.enterKeyDirection ?? defaultOptions.keyboardNavigation.enterKeyDirection"
  >
  </dxo-keyboard-navigation>
  <dxo-filter-row [visible]="options.filterRow?.visible ?? defaultOptions.filterRow.visible"></dxo-filter-row>
  <dxo-export
    [enabled]="options.export?.enabled ?? defaultOptions.export.enabled"
    [allowExportSelectedData]="options.export?.allowExportSelectedData ?? defaultOptions.export.allowExportSelectedData"
  >
  </dxo-export>
  <dxo-selection
  [allowSelectAll]="options.selection?.allowSelectAll ?? defaultOptions.selection.allowSelectAll"
  [deferred]="options.selection?.deferred ?? defaultOptions.selection.deferred"
  [mode]="options.selection?.mode ?? defaultOptions.selection.mode"
  [selectAllMode]="options.selection?.selectAllMode ?? defaultOptions.selection.selectAllMode"
  [showCheckBoxesMode]="options.selection?.showCheckBoxesMode ?? defaultOptions.selection.showCheckBoxesMode"

  >
  </dxo-selection>
  <dxo-editing
    [mode]="options.editing?.mode ?? defaultOptions.editing.mode"
    [allowAdding]="options.editing?.allowAdding ?? defaultOptions.editing.allowAdding"
    [allowDeleting]="options.editing?.allowDeleting ?? defaultOptions.editing.allowDeleting"
    [allowUpdating]="options.editing?.allowUpdating ?? defaultOptions.editing.allowUpdating"
    [useIcons]="options.editing?.useIcons ?? defaultOptions.editing.useIcons"
    [selectTextOnEditStart]="options.editing?.selectTextOnEditStart ?? defaultOptions.editing.selectTextOnEditStart"
    (changes)="changes"
    (changesChange)="onChangesChange($event)"
  >
  </dxo-editing>
  <dxo-load-panel [enabled]="options.loadPanel?.enabled ?? defaultOptions.loadPanel.enabled"></dxo-load-panel>
  <dxo-scrolling
    [useNative]="options.scrolling?.useNative ?? defaultOptions.scrolling.useNative"
    [showScrollbar]="options.scrolling?.showScrollbar ?? defaultOptions.scrolling.showScrollbar"
></dxo-scrolling>
</dx-data-grid>
