<p>dx-data-grid works!</p>
<dx-data-grid
  name="gn_provincias"
  [dataSource]="dataSource | async"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  columnResizingMode="nextColumn"
  [repaintChangesOnly]="true"
  [remoteOperations]="{ groupPaging: true }"
  width="900"
  height="895"
  (onToolbarPreparing)="onToolbarPreparing($event)"
  (onEditorPreparing)="onEditorPreparing($event)"
  (onCellPrepared)="onCellPrepared($event)"
>
<!--ndx-data-grid-column *ngFor="let column of columns; let i = index" [column]="column"></!--ndx-data-grid-column-->

<ng-container *ngFor="let column of columns">
  <dxi-column
    [name]="column.name"
    [dataField]="column.dataField"
    [caption]="column.caption"
    [dataType]="column.dataType"
    [alignment]="column.alignment"
    [cssClass]="column.cssClass"
    [width]="column.width || 'auto'"
    [allowSorting]="column.allowSorting || false"
    [editCellTemplate]="column.cellTemplate"
    [showEditorAlways]="column.cellTemplate"
    ><dxi-validation-rule *ngIf="column.validationRule?.required" type="required">
    </dxi-validation-rule>
    <dxi-validation-rule *ngIf="column.validationRule?.stringLength"
      type="stringLength"
      [max]="column.validationRule?.stringLength || 5"
    ></dxi-validation-rule
    ><dxi-validation-rule *ngIf="column.validationRule?.asyncRule"
      type="async"
      [validationCallback]="column.validationRule?.asyncRule?.callback || defaultCallback "
      [message]="column.validationRule?.asyncRule?.message || 'Error algo' "
    >
    </dxi-validation-rule>
  </dxi-column>
  <div *dxTemplate="let cell of column.cellTemplate">
    <app-renderer-component [cell]="cell" [column]="column"></app-renderer-component>
  </div>
</ng-container>



  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-paging [pageSize]="25"></dxo-paging>
  <dxo-keyboard-navigation
    enterKeyAction="moveFocus"
    enterKeyDirection="row"
  >
  </dxo-keyboard-navigation>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export
    [enabled]="false"
    [allowExportSelectedData]="true"
  >
  </dxo-export>
  <dxo-editing
    mode="batch"
    [allowAdding]="true"
    [allowDeleting]="true"
    [allowUpdating]="true"
    [useIcons]="true"
    [selectTextOnEditStart]="true"
  >
  </dxo-editing>
  <dxo-selection mode="none" [deferred]="true"></dxo-selection>
</dx-data-grid>
