<dxi-column
  [name]="column.name"
  [dataField]="column.dataField"
  [caption]="column.caption"
  [dataType]="column.dataType"
  [alignment]="column.alignment"
  [cssClass]="column.cssClass"
  [width]="column.width || 'auto'"
  [allowSorting]="column.allowSorting || false"
><dxi-validation-rule *ngIf="column.validationRule?.required" type="required">
</dxi-validation-rule>
  <dxi-validation-rule *ngIf="column.validationRule?.stringLength"
    type="stringLength"
    [max]="column.validationRule?.stringLength || 5"
  ></dxi-validation-rule
  ><dxi-validation-rule *ngIf="column.validationRule?.asyncRule"
    type="async"
    [validationCallback]="column.validationRule?.asyncRule?.callback || defaultCallback "
    [message]="column.validationRule?.asyncRule?.message || 'Error algo' "
  >
  </dxi-validation-rule></dxi-column>
